.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root .root-child {
  height: 100vh;
  overflow: auto;
  font-family: 'Roboto';
}

.greeting-time {
  text-align: center;
  margin: 30px;
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.data > div {
  margin: 30px;
}

.forecast {
  margin: 30px;
}

.forecast .label {
  text-align: center;
}

.forecast .forecast-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.forecast-list > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px;
}

#search-label {
  text-align: center;
}

.autocomplete-section {
  margin: 100px;
}

.autocomplete-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



